:root {

    /* hsl colors */
    --clr-orange: hsl(25, 97%, 53%);
    --clr-white: hsl(0 0% 100%);
    --clr-grey_light: hsl(217, 12%, 63%);
    --clr-grey_med: hsl(216deg 8% 23% / 0.5);
    --clr-blue_dark: hsl(213, 19%, 18%);
    --clr-blue_vdark: hsl(216, 12%, 8%);

    --box-shadow: 6px 5px 10px rgb(80, 80, 93);
    
  
    
    /* font */
    --header-height: 3rem;

    --ff-serif: "Poppins", sans-serif;
    
    --fs-800: 1.5rem;
    --fs-700: 1.25rem;
    --fs-600: 1rem;
    --fs-500: 0.938rem;
    --fs-400: .875rem;
    --fs-300: .813rem;
    
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
  }
  
  /* css reset - Modern */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  li,
  ul,
  figure,
  picture {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: var(--ff-serif);
    font-size: var(--fs-500);
    line-height: 1.5;
    min-height: 100vh;
    color: var(--clr-blue_vdark);
    background: rgb(172,182,229);
    background: linear-gradient(90deg, rgba(172,182,229,1) 0%, rgba(134,253,232,1) 100%);
  }
  
  img {
    max-width: 100%;
    display: block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* project colors */
  
  .background-color__dblue {
    background-color: var(--clr-blue_dark);
  }
  
  .background-color__medgrey {
    background-color: var(--clr-grey_med);
  }
  
  .background-color__lgrey {
    background-color: var(--clr-grey_light);
  }
  
  .background-color__orange {
    background-color: var(--clr-orange);
  }
  
  .background-color__white {
    background-color: var(--clr-white);
  }
  
  .txt-orange {
    color: var(--clr-orange);
  }
  
  .txt-light__grey {
    color: var(--clr-grey_light);
  }
  
  .txt-white {
    color: var(--clr-white);
  }
  
  /* typo */
  
  .ff-serif {
    font-family: var(--ff-serif);
  }
  
  .uppercase {
    text-transform: uppercase;
  }

  .fs-800 {
    font-size: var(--fs-800);
  }

  .fs-700 {
    font-size: var(--fs-700);
  }

  .fs-600 {
    font-size: var(--fs-600);
  }

  .fs-500 {
    font-size: var(--fs-500);
  }

  .fs-400 {
    font-size: var(--fs-400);
  }

  .fs-300 {
    font-size: var(--fs-300);
  }
  
  
  .fw-400 {
    font-weight: var(--fw-400);
  }
  
  .fw-500 {
    font-weight: var(--fw-500);
  }

  .fw-600 {
    font-weight: var(--fw-600);
  }

  main {
    padding: 2rem;
    margin-bottom: 3.5rem;
  }
  
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  
  .flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
  }

  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }

  .screen-reader {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .logo {
    max-width: 17%;
    border-radius: 1rem;
  }
  
  .primary-header {
    width: 100%;
    padding: 0 .5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--clr-grey_light);
    box-shadow: 0 -1px rgba(0, 0, 0, .5);
    transition: .3s;
    z-index: 100;
  }

  .primary-navigation {
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 37.5rem) {
    .nav-list {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      padding: 2rem 1.5rem;
      background-color: var(--clr-blue_dark);
      color: var(--clr-white);
      box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
      z-index: 100;
      transition: .3s;
    }
  }
  
  .mobile-nav__toggle {
    background: none;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 1rem;
    color: var(--clr-blue_dark);

  }
  
  .nav-list {
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav-list li a {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-300);
    color: var(--clr-orange);
    font-weight: var(--fw-500);
  }

  /* .nav-list li a:hover {
      color: var(--clr-grey_light);
  } */

  .nav-list li a i {
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }

  .show-menu {
    bottom: var(--header-height);
  }

  /* Home */

  .home {
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .home-container {
    flex-direction: column;
  }

  .home-meta {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic {
    max-width: 40%;
    border-radius: 50%;
  }

  .home-address {
    flex-direction: column;
  }

  .home-address span {    
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .home-address span i {
    margin-right: .5rem;
    font-size: 1.2rem;
  }

  /* Social */

  .social-container {
    box-shadow: var(--box-shadow);
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .social-profiles {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-profiles a {
    display: inline-flex;
    align-items: center;
  }

  .social-profiles a i {
    margin-right: .5rem;
    font-size: 1.2rem;
  }

  .about-container {
    text-align: center;
    padding: 1rem;
    box-shadow: var(--box-shadow);
  }

  /* Education and Experience*/

  .education {
    padding: 1rem;
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
  }
  
  .experience {
    padding: 1rem;
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
  }
  
  
  
  .education-container {
    flex-direction: column;
  }

  .education h2,
  .experience h2 {
    text-align: center;
  }

  .edu-time,
  .exp-time {
    padding-right: 1rem;
  }

  .edu-circle,
  .exp-circle {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: var(--clr-blue_dark);
    border-radius: 50%;
    margin-top: .3rem;
  }

  .edu-line {
    display: block;
    width: 2px;
    height: 120%;
    background-color: var(--clr-blue_dark);
    transform: translate(7px, 0);
  }

  .exp-line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--clr-blue_dark);
    transform: translate(7px, 0);
  }

  /* Skills */

  .skills {
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
  }

  .skills h2 {
    text-align: center;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-name {
    align-items: center;
    margin-bottom: 1rem;
  }

  .skills-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--clr-blue_dark);
    border-radius: 50%;
    margin-right: .75rem;
  }

  @media screen and (max-width: 18.75rem) {
    .skills-container {
      grid-template-columns: auto;
    }
  }

  /* Projects */


  .projects {
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
  }

  .projects-content {
    flex-direction: column;
  }

  .projects-content img {
    max-width: 60%;
    align-self: center;
    clip-path: inset(10% 2%);
  }

  .projects h2 {
    text-align: center;
  }

  .visit-btn {
    display: inline-block;
    max-width: fit-content;
    background-color: var(--clr-grey_med);
    color: white;
    padding: .5rem 1.5rem;
    cursor: pointer;
    text-align: center;
    align-self: center;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
  }



  /* Scroll top */

  .scroll-top {
    position: fixed;
    right: 3rem;
    bottom: -20%;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: var(--clr-grey_med);
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;
  }

  .scroll-top__icon {
    font-size: 1.2rem;
  }

  .show-scroll {
    visibility: visible;
    bottom: 5rem;
  }
  
  /* light/dark mode */

  .change-theme__btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: var(--clr-blue_dark);
    font-size: 1.2rem;
    cursor: pointer;
    background-color: hsl(216deg 8% 23% / 0.3);
    border-radius: 50%;
    padding: .5rem;
  }

  .dark-theme {
    background: rgb(15,32,39);
    background: linear-gradient(90deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 0%, rgba(44,83,100,1) 100%);
    --clr-orange: hsl(25, 97%, 53%);
    --clr-blue_vdark: hsl(0 0% 100%);
    --clr-blue_dark: hsl(217, 12%, 63%);
    --clr-grey_med: hsl(216deg 8% 23% / 0.5);
    --clr-grey_light: hsl(213, 19%, 18%);
    --clr-white: hsl(216, 12%, 8%);

    --box-shadow: 6px 5px 10px rgb(150, 150, 172);
  }