:root {
  /* hsl colors */
  --clr-white: hsl(0 0% 100%);
  --clr-grey_med: hsl(216deg 8% 23% / 0.5);
  --clr-blue_dark: hsl(213, 19%, 18%);
  --clr-blue_vdark: hsl(216, 12%, 8%);
  --link-color-hover: hsl(39, 86%, 25%);

  --box-shadow: 6px 5px 10px rgb(80, 80, 93);

  --nav-back__color: linear-gradient(
    180deg,
    rgb(110, 196, 230) 0%,
    rgb(98, 151, 161) 50%,
    rgb(82, 180, 219) 100%
  );

  /* font */
  --header-height: 3rem;

  --ff-serif: "Poppins", sans-serif;

  --fs-800: 1.5rem;
  --fs-700: 1.25rem;
  --fs-600: 1rem;
  --fs-500: 0.938rem;
  --fs-400: 0.875rem;
  --fs-300: 0.813rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  @media screen and (min-width: 37.5rem) {
    --fs-800: 2rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: 0.938rem;
    --fs-300: 0.875rem;
  }
}

/* css reset - Modern */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  line-height: 1.5;
  min-height: 100vh;
  color: var(--clr-blue_vdark);
  background: rgb(172, 182, 229);
  background: linear-gradient(
    90deg,
    rgba(172, 182, 229, 1) 0%,
    rgba(134, 253, 232, 1) 100%
  );
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--clr-blue_dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--nav-back__color);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--link-color-hover);
}

ul {
  list-style: none;
}

/* typo */

.ff-serif {
  font-family: var(--ff-serif);
}

.uppercase {
  text-transform: uppercase;
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-600 {
  font-weight: var(--fw-600);
}

main {
  padding: 2rem;
  margin-bottom: 3rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  max-width: 17%;
  border-radius: 1rem;
  margin-left: 0.4rem;
}

.primary-header {
  width: 100%;
  padding: 0 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--nav-back__color);
  box-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  z-index: 100;
}

.primary-navigation {
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: grid;
  gap: 2rem;
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 2rem 1.5rem;
  background: var(--nav-back__color);
  color: var(--clr-blue_vdark);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.3s;
}

@media screen and (min-width: 37.5rem) {
  main {
    margin-bottom: 0;
  }

  .primary-header {
    position: unset;
    top: 0;
    bottom: unset;
    height: fit-content;
    background: none;
  }

  .logo {
    max-width: 45%;
    margin-left: 1rem;
  }

  .primary-navigation {
    height: 100%;
  }

  .nav-list {
    position: inherit;
    display: flex;
    top: 0;
    height: 90%;
    justify-content: space-around;
    width: 100%;
    background: none;
    border-radius: 1rem;
    margin-right: 1.2rem;
  }

  .mobile-nav__toggle {
    display: none;
  }

  .resume-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .home {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 60.5rem) {
  .primary-header {
    padding-top: 1rem;
  }

  main {
    max-width: 1980px;
    align-self: center;
    justify-self: center;
  }
}

.mobile-nav__toggle {
  background: none;
  font-size: clamp(1rem, 2vw + 2rem, 3rem);
  cursor: pointer;
  color: var(--clr-blue_vdark);
  border: none;
  padding-top: 0.5rem;
}

.nav-list {
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-list > li > a {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-300);
  color: var(--clr-blue_vdark);
  font-weight: var(--fw-500);
}

.nav-list > li > a > i {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.show-menu {
  bottom: var(--header-height);
}

/* Home */

.home {
  box-shadow: var(--box-shadow);
  padding: 1rem;
  margin-bottom: 2rem;
}

.home-container {
  position: relative;
  flex-direction: column;
}

.home-meta {
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  max-width: 40%;
  border-radius: 50%;
}

.home-address {
  justify-content: center;
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
  align-items: center;
}

.home-address__list > li {
  justify-content: center;
  align-items: center;
  --gap: 0.5rem;
}

.pdf-download {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  margin-top: 0;
  --gap: 0;
}

iframe {
  width: 100vw;
  height: 100vh;
}

/* Social */

.social-container {
  box-shadow: var(--box-shadow);
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 37.5rem) {
  .social-container {
    margin-bottom: 0;
  }
}

.social-profiles {
  flex-direction: column;
  align-items: center;
}

.social-profiles a {
  display: inline-flex;
  align-items: center;
}

.social-profiles a i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.about-container {
  text-align: center;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.about-container > p {
  text-align: justify;
  text-indent: 2rem;
}

/* Education and Experience*/

.education {
  padding: 1rem;
  box-shadow: var(--box-shadow);
  margin-top: 2rem;
}

.experience {
  padding: 1rem;
  box-shadow: var(--box-shadow);
  margin-top: 2rem;
}

.education-container {
  flex-direction: column;
}

.education h2,
.experience h2 {
  text-align: center;
}

.edu-time,
.exp-time {
  padding-right: 1rem;
}

.edu-circle,
.exp-circle {
  position: relative;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--clr-blue_dark);
  border-radius: 50%;
  margin-top: 0.3rem;
}

.edu-line {
  display: block;
  width: 2px;
  height: 120%;
  background-color: var(--clr-blue_dark);
  transform: translate(7px, 0);
}

.exp-line {
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--clr-blue_dark);
  transform: translate(7px, 0);
}

/* Skills */

.skills {
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
}

.skills h2 {
  text-align: center;
}

.skills-container {
  grid-template-columns: repeat(2, 1fr);
}

.skills-name {
  align-items: center;
  margin-bottom: 1rem;
}

.skills-circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--clr-blue_dark);
  border-radius: 50%;
  margin-right: 0.75rem;
}

@media screen and (max-width: 18.75rem) {
  .skills-container {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 37.5rem) {
  .skills-container {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 60.5rem) {
  .resume-left > * {
    margin: 0;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Projects */

.projects {
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);
}

.projects-content {
  flex-direction: column;
  padding-bottom: 1rem;
}

.projects-content:first-child {
  border-bottom: 1px solid var(--clr-white);
}

.projects-content img {
  max-width: 60%;
  align-self: center;
  clip-path: inset(10% 2%);
}

.projects h2 {
  text-align: center;
}

.visit-btn {
  display: inline-block;
  max-width: fit-content;
  border: 0;
  background-color: var(--clr-grey_med);
  color: white;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  text-align: center;
  align-self: center;
  border-radius: 2vmin;
  box-shadow: var(--box-shadow);
}

.visit-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-blue_vdark);
  box-shadow: 2px 2px 10px var(--clr-blue_vdark);
}

.nav-list li a:hover {
  color: var(--clr-white);
}
@media screen and (min-width: 60.5rem) {
  .nav-list li a {
    font-size: 1.2rem;
    flex-direction: row;
  }

  .nav-list li a i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .primary-header {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 2rem;
    margin-bottom: 0;
  }

  .resume-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .resume-right {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .experience {
    margin-top: 0;
  }

  .profile-pic {
    max-width: 60%;
  }

  .skills {
    order: -1;
  }

  .home {
    order: -1;
  }
}

/* Scroll top */

.scroll-top {
  position: fixed;
  right: 3rem;
  bottom: -20%;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--clr-grey_med);
  border-radius: 0.4rem;
  z-index: 10;
  transition: 0.4s;
  visibility: hidden;
}

.scroll-top__icon {
  font-size: 1.2rem;
}

.show-scroll {
  visibility: visible;
  bottom: 5.6rem;
}

/* light/dark mode */

.change-theme__btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: var(--clr-blue_dark);
  font-size: 1.2rem;
  cursor: pointer;
  background-color: hsl(216deg 8% 23% / 0.3);
  border-radius: 50%;
  padding: 0.5rem;
}

@media screen and (min-width: 37.5rem) {
  .change-theme__btn {
    top: 9rem;
  }

  .show-scroll {
    bottom: 3rem;
  }
}

@media screen and (min-width: 60.5rem) {
  .change-theme__btn {
    top: 2.7rem;
    position: fixed;
  }

  .change-theme__btn:hover {
    background-color: var(--clr-blue_vdark);
    color: var(--clr-white);
  }
}

.dark-theme {
  background: rgb(15, 32, 39);
  background: linear-gradient(
    90deg,
    rgba(15, 32, 39, 1) 0%,
    rgba(32, 58, 67, 1) 0%,
    rgba(44, 83, 100, 1) 100%
  );
  --clr-blue_vdark: hsl(0 0% 100%);
  --clr-blue_dark: hsl(217, 12%, 63%);
  --clr-grey_med: hsl(216deg 8% 23% / 0.5);
  --clr-white: hsl(216, 12%, 8%);
  --link-color-hover: hsl(36, 89%, 48%);

  --box-shadow: 6px 5px 10px rgb(20, 20, 31);

  --nav-back__color: linear-gradient(
    180deg,
    rgba(21, 50, 62, 1) 0%,
    rgba(27, 126, 114, 1) 50%,
    rgba(15, 48, 61, 1) 100%
  );
}

footer {
  text-align: center;
}

h4 {
  color: var(--clr-blue_dark);
}

.image-container[aria-hidden="true"] {
  display: none;
}
